.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}
.nav a {
    margin-right: 10px;
}
.box {
    height: auto;
    width: auto;
    border: 2px solid black;
}
