.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 500px));
    grid-auto-rows: 290px;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
}
.nav a {
    margin-right: 10px;
}
.box {
    display: grid;
    grid-template-columns: 230px 240px;
    position: relative;
    height: auto;
    width: 500px;
    border: 3px solid black;
    position: relative;
    border-radius: 5px;
}
.imageComponent {
    height: auto;
    width: 500px;
}
.itemImageCon {
    display: grid;
    justify-self: center;
    grid-area: image;
}
.itemName {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.favoriteContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: inline-block;
}
/* make element visible */
.fadeIn {
    /* position: absolute;
    top: 0; */
    pointer-events: all;
    color: red;
    transition: color 0.3s ease-in;
}
.fadeOut {
    color: #dadada;
    transition: color 0.3s ease-out;
}
.attended {
    color: green;
}
.notAttended {
    color: black;
}
.favoriteItem {
    display: grid;
    grid-template-columns: 260px 260px 130px 75px 75px;
    width: 800px;
    height: 250px;
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
    list-style-type: none;
    align-items: center;
}
.favoriteList {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 280px;
    justify-items: center;
}
.rating {
}
.reviewCount {
    font-weight: bold;
    margin-left: 3px;
}
.title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -9px;
}
.imageWrapper {
    /* margin-left: 10px; */
    justify-self: center;
}
.critics {
    margin-top: 5px;
}
.checkIcon {
    align-self: start;
    justify-self: end;
    margin-top: 10px;
}
.heartIcon {
    align-self: start;
    justify-self: center;
    margin-top: 10px;
}
.address {
    justify-self: center;
    font-weight: 500;
    font-size: 15;
}
.address p:nth-child(2) {
    margin-bottom: 9px;
}
.img {
    border-radius: 5px;
}
.week {
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
}
.day {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
}
.infoCon {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-area: address;
    justify-self: start;
    margin-left: 17px;
}
.heartCon {
    justify-self: end;
    grid-area: heart;
    margin-right: 19px;
    margin-top: 10px;
}
.formCon {
    margin: auto;
}

.form {
    display: grid;
    grid-template:
        "locationInput restaurantInput filterInput" 1fr
        "submit submit submit" 1fr;
    justify-content: center;
    margin-bottom: 35px;
    gap: 10px;
}
.locationCon {
    grid-area: locationInput;
}
.restaurantCon {
    grid-area: restaurantInput;
}
.filterCon {
    grid-area: filterInput;
}
.locationCon,
.restaurantCon,
.filterCon {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.submitBtn {
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2),
        -1px -1px 2px 0px rgba(0, 0, 0, 0.2);
    height: 20px;
    border-radius: 3px;
    background-color: rgb(230, 234, 238);
    font-size: 14px;
    font-weight: 400;
    grid-area: submit;
    width: 100%;
}
.filter {
    padding-right: 10px;
}
@media (max-width: 900px) {
    .form {
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; */
        grid-template: "locationInput" "restaurantInput" "filterInput" "submit" 1fr/1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
    .results {
        grid-template-columns: repeat(auto-fill, minmax(250px, 340px));
    }
    .box {
        width: 340px;
        justify-self: center;
        height: auto;
        grid-template:
            "image image heart" 1fr
            "address address address " 2fr;
    }
    .imageComponent {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 1;
    }
    .box::after {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(63, 63, 63, 0.774);
        z-index: 1;
    }
    .itemName,
    .critics,
    .heartCon,
    .infoCon {
        z-index: 2;
    }
    .itemName,
    .critics {
        height: 20px;
    }

    .itemName,
    .reviewCount,
    .address {
        color: rgb(235, 235, 235);
    }
    .itemImageCon {
        justify-self: left;
        margin-left: 19px;
        height: fit-content;
    }
    .itemName {
        font-size: 17px;
    }
    .submitBtn {
        width: 100%;
    }
    .filter {
        margin-right: 0;
    }
    .restaurantCon,
    .locationCon {
        row-gap: 7px;
    }
}
